/*Colors*/
$bodyColor : #131327;
$topBarColor: rgba(0, 0, 0, 0.5);
$primaryColor: white;
$buttonColor: #F84167;
$buttonHoverColor: #DD3B5D;
$courseButtonColor: #6C63FF;

/*Fonts*/
$logoFont: 'Yesteryear', cursive;
$linkFont: 'Roboto', sans-serif;
$mainTextFont: 'Poppins', sans-serif;



